.navMenu p{
  white-space: nowrap;
}

/* The side navigation menu */
.navMenu {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  max-width: 460px;
  position: fixed; /* Stay in place */
  z-index: 10; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #243139;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the navMenu */
  z-index: 999;
}

.navTitleContainer{
  height: 60px;
}

.navActive p{
  color: #f1f1f1;
}

/* The navigation menu links */
.eleContainer a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  transition: 0.25s;
}

.navBackDrop{
  transition: 0.5s;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  margin-top: -16px;
}

.loggedIn{
  width: 26px;
  height:2px;
  border-radius: 6px;
  background-color: #87d374;
  box-shadow: 0px 0px 5px #87d374;
  margin: 5px;
}

.loggedOut{
  width: 26px;
  height:2px;
  border-radius: 6px;
  background-color: #f0e7b3;
  box-shadow: 0px 0px 5px #f0e7b3;
  margin: 5px;
}

.mtLogo{
  height: 52px;
  margin-right: 2px;
}

.mtTitle{
  color: #C4D7E6;
  font-size: 27px;
  padding: 8px;
}
.mtTitle:hover{
  text-shadow: 0px 0px 5px #C4D7E6;
}

.lmBtn{
  margin-left: auto;
}

.headerContainer{
  width: 100%;
  background-color: #253139;
  transition: margin-right 0.5s, box-shadow 0.5s;
}

.login_menu{
  display: flex;
  flex-wrap: wrap;
  background-color: #253139;
  position: relative;
  min-height: 52px;
  padding: 4px 0 4px 0;

  max-width: 804px;
  margin: auto;
}

.navBtnContainer{
  cursor: pointer;
  padding: 4px;
  margin: auto 0;
}

.loginNameContainer{
  display: flex;
  justify-content: center;
}

.navTitle{
  position: absolute;
  top: 4px;
  font-size: 27px;
}

.eleContainer{
  overflow-y: auto;
  overflow-x: hidden;
}

.menuIcon{
  height:49px;
}

.navBtn{
  height: 36px;
}

.miniPlayer{
  width: 144px;
  margin: 16px;
}

/* Logged Out */

.miniPlayerOut{
  width: 100%;
  display: flex;
}

.miniPlayerDivOut{
  min-height: 271px;
  display: flex;
  background-color: #151f26;
  margin-bottom: 8px;
}

/* Logged Out */

.miniPlayerDiv{
  height: 271px;
  display: flex;
  background-color: #151f26;
  margin-bottom: 8px;
}


.miniPlayerInfo{
  display: flex;
}

.miniPlayerInfo p{
  margin: auto;
  margin-left: 4px;
  padding: 8px 2px;
  white-space: pre-line;
}

.miniRep{
  margin: 16px;
  display: flex;
  flex-direction: column;
}

.miniRep p{
  display: flex;
  padding: 2px;
}

.miniRep p:first-child{
  margin-top:25px;
}

.avatar{
  height: 128px;
  padding: 8px;
}

.circleBorder{
  border-radius: 360px;
}

.miniOrg{
  height:41px;
  margin: auto;
  margin-right: 4px;
}

/* When you mouse over the navigation links, change their color */
.eleContainer a:hover{
  color: #f1f1f1;
}

.navEle{
  display: flex;
  justify-content: flex-start !important;
}

.navEle img{
  margin: auto 0;
  margin-left: 8px;
}

.userContainer{
  display: flex;
  margin-left: auto;
}

/* Position and style the close button (top right corner) */
.navMenu .closebtn {
  position: absolute;
  right: 8px;
  top: 11px;
  font-size: 36px;
}

.mpLoginContainer{
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 207px;
  padding:16px;
  max-width: 236.281px;
}

.miniPlayerOut p{
  font-size: 16px;
  padding-left: 0;
}

.loginNameContainer p{
  padding: 4px;
  margin: auto 0;
}

.inputHeader{
  margin-top:8px;
}

.mpLoginContainer input{
  padding: 4px;
}

.mpLoginContainer div{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form-alt{
  padding: 8px 0;
  margin-top: 12px;
}

.mpLoginContainer div p a{
  padding: 4px 4px
}

.mpBtnContainer{
  display: flex;
}

.rButton{
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  background-color: #243139;
  white-space: nowrap;
  box-shadow: 0px 0px 11px 0px #0c1214;
  transition: 0.1s ease-in-out;
}
.rButton:hover{
  box-shadow: 0px 0px 5px 0px #0c1214;
}
.form-control{
  color: #C4D7E6;
  background-color: #253139;
  border: 2px solid #19777e;
  box-shadow: none;
  font-size: 13.33px;
  padding: .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  outline: 0;
  width: 100%;
}
.form-control:focus{
  border: 2px solid rgb(57, 206, 216);
  box-shadow: 0px 0px 15px rgba(57, 206, 216, 0.5);
  color: #C4D7E6;
  background-color: #253139;
}
.form-control-last{
  margin-bottom: 16px;
}
.navFooter{
  margin-top: auto;
  transition: margin-right 0.5s;
}
.fContainer{
  display: flex;
  justify-content: space-around;
  background-color: #253139;
  padding: 64px 72px;
}
.fCopy{
  text-align: left;
}
.fCopy>h3{
  margin: 0;
}
.fCopy>p{
  font-size: 14px;
}
.fLinks{
  display: flex;
}
.sector>p{
  padding: 0;
}
.sector>hr{
  width: 100%;
  border-color: #C4D7E6;
  margin: 8px 0 8px 0;
}
.sector{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 8px;
}
.sector>a{
  color: #C4D7E6;
  text-decoration: underline;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 0px 11px 0px #0c1214;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .titleContainer {
  padding-top: 66px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#canvas {
  margin-bottom: 32px;
  transition: margin-right .5s;
}

.settingsContainer{
  display: flex;
  margin: 8px 0;
}

/* On smaller screens, where height is less than 450px, change the style of the navMenu (less padding and a smaller font size) */
@media screen and (max-width: 450px) {
  .eleContainer a {font-size: 18px}
  .navEle img{height:40px}
  .avatar {height:117px}
  .mtTitle {display: none}
}
@media screen and (max-width: 420px) {
  .miniPlayerOut {flex-direction: column}
  .miniPlayer {margin: 8px auto}
  .miniRep p:first-child {margin-top:0}
  .miniRep {margin: 8px auto}
}
@media screen and (max-width: 335px) {
  .mpLoginContainer div p a {white-space: pre}
  .mpLoginContainer div p {white-space: normal}
}
