html{
  margin:auto;
  padding:0px;
  text-align: center;
  color: #C4D7E6;
}
body{
  background-color: #151f26;
  color: #C4D7E6;
}
div.wrapper{
  width: 350px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #253139;
  padding: 8px 16px;
  border: 2px solid rgb(57, 206, 216);
  box-shadow: 0px 0px 15px rgba(57, 206, 216, 0.5);
  border-radius: 4px;
  text-align: center;
  transform: translate(-50%, -50%);
}
a, a:hover, a:visited, a:active, a:link{
  text-decoration: none;
  outline: 0;
}
h2{
  margin-top: 0px;
  margin-bottom: 25px;
}
form{
  text-align: left;
}
.exit{
  position: absolute;
  right: 18px;
  top: 10px;
  height: 44px;
}
.confirm{
  color: #87d374;
  text-shadow: 0px 0px 5px #87d374;
}
.help{
  color: #f0e7b3;
  text-shadow: 0px 0px 5px #87d374;
}
.help:hover{
  color: #fdfcf7;
  text-decoration: none;
}
a.help:visited{
  color: #f0e7b3;
}
.btn{
  color: #87d374;
  padding: 4px 8px;
  background-color: #151f26;
  text-shadow: 0px 0px 5px #87d374;
  border: 0px;
  border-radius: 4px;
  outline: 0;
}
.btn:hover{
  color: #bee7b4;
  background-color: #151f26;
}
.helplogin{
  color: #C4D7E6;
  text-shadow: 0px 0px 5px #C4D7E6;
  font-weight: bold;
}
.helplogin:hover{
  color: #ffffff;
  text-decoration: none;
}
.helpforgot{
  font-weight: bold;
  color: #C4D7E6;
  text-shadow: 0px 0px 5px #C4D7E6;
}
.helpforgot:hover{
  color: #ffffff;
  text-decoration: none;
}
.backerTitle{
  color: #FF5A5A;
  text-shadow: 0px 0px 5px #FF5A5A;
  text-decoration: underline !important;
}
.backerTitle:hover{
  color: #ffa8a8;
}
a.helpforgot:visited{
  color: #C4D7E6;
}
.help-block{
  color: #FF5A5A;
  text-shadow: 0px 0px 5px #FF5A5A;
}
.verify{
  padding: 8px 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  display: inline-block;
}
.verify-group{
  text-align: center;
}
.highlight{
  color: #87d374;
  text-shadow: 0px 0px 5px #87d374;
}
.verify-wrapper{
  width: 400px;
}
.v-Error{
  display: inherit;
}
.pre_verified{
  height: 24px;
}
