.container{
  display: block;
}
.container-comments{
  border-radius: 0px 0px 4px 4px;
}
.container-section{
  border-radius: 4px 4px 0 0;
}
.playercard{
  justify-content: flex-start;
  padding: 0px;
}
.orgman-container{
  display: flex;
}
div.sb{
  height: 220px;
  border-radius: 0px 0px 4px 4px;
}
.web-title{
  top: 16px;
}
.orgInfoLogo{
  height: 175px;
  width: 175px;
}
#moto{
  margin-top:21px;
}
.userInput{
  display: none;
  margin-top: 0;
  width: 92.7%;
  border-radius: 4px;
}
.memSearch{
  background-color: #253139;
}
.playercard{
  border-radius: 0px 0px 4px 4px;
}
.container-header{
  border-radius: 0px 0px 4px 4px;
}
.web-name{
  white-space: break-spaces;
}
.orgInfoName{
  padding: 8px 8px 0 8px;
}
.orgInfoName:hover{
  color: #FFF;
}
#orgInfo{
  padding-top: 16px;
  display: flex;
  flex-direction: column;
}
.bossContainer{
  grid-template-columns: repeat(auto-fill, minmax(184px, 1fr));
  overflow: hidden;
}
.player-min-name, .player-username{
  font-size: 1.1rem;
}
