.container{
  display: block;
  border-radius: 4px;
  background-color: #253139;
  padding: 8px;
}
.player{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.player>p{
  margin-right: auto;
}
.player>div{
  display: flex;
  margin-right: auto;
}
