.container{
  display: flex;
  border-radius: 4px;
  background-color: #253139;
  padding: 0 8px 0 0;
}
.player{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}
.player>div{
  display: flex;
  padding: 8px 0 8px 8px;
}
.rightSide{
  background-color: #151f26;
  box-shadow: 0px 0px 11px 0px #223135
}
.rightSide:hover{
  box-shadow: 0px 0px 11px 0px #0c1214;
}
a.loginName{
  text-decoration: underline;
  padding-left: 0;
}
.rightSide{
  margin: auto 0 auto auto;
}
.subP{
  font-size: 13px;
}
.rBold{
  font-size: 18px;
}
.settingsNav{
  display: flex;
  flex-direction: column;
  background: #151f26;
  margin-right: 8px;
  border-radius: 4px 0 0 4px;
}
.settingsNav>a{
  padding: 16px 8px;
  white-space: pre;
}
.settingsNav>.rButton{
  background-color: #151f26;
}
hr{
  border-color: #C4D7E6;
}
.divider{
  width: 100%;
}
