.container{
  display: flex;
  border-radius: 4px;
  background-color: #253139;
  padding: 8px;
}
.player{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.player>div{
  display: flex;
}
.player>div>.rButton{
  background-color: #151f26;
  outline: 0;
}
