:root{
  --main-bdr-color: #44a4dc;
}
a{
  color: #3276c9;
}
a:visited{
  color: #fff;
}
a:hover{
  text-decoration: underline;
}
.container-header{
  display: flex;
}
.web-title{
  margin-top: 100px;
}
.dEmbedContainer{
  padding: 8px;
  margin: auto;
  border-left: 4px solid var(--main-bdr-color);
  border-radius: 4px;
  background-color: #2c3434;
  display: flex;
}
.eHeader img{
  height: 30px;
  width: 30px;
}
.eHeader a{
  font-size: 12px;
  color: #fff;
  margin-left: 4px;
}
.eBold{
  font-weight: bold;
  color: #fff;
}
.eAKA{
  font-size: 12px;
}
.embedRight img{
  height: 64px;
  width: 64px;
}
p{
  display: flex;
  white-space: pre;
  padding-left: 0;
}
img{
  margin: 0;
}
td{
  display: flex;
}
