:root{
  --main-bdr-color: #44a4dc;
}
.titleContainer{
  margin-top: 100px;
}
.titleContainer p{
  padding: 8px;
  display: flex;
}
.webTitle{
  margin: auto;
}
.webSlogan{
  font-size: 14px;
  font-weight: normal;
  margin: 16px auto 16px auto;
}
.discord{
  height: 32px;
  margin: 0px 10px 0px 0px;
}
table a{
  color: #3276c9;
}
table a:visited{
  color: #3276c9;
}
table a:hover{
  text-decoration: underline;
}
th{
  font-weight: normal;
}
.container-header{
  display: inline-block;
  margin: auto;
}
.eCommand{
  padding-left: 0;
  text-align: left;
}
.dEmbed{
  padding: 8px;
  margin: 0;
  border-left: 4px solid var(--main-bdr-color);
  border-radius: 4px;
  background-color: #2c3434;
  display: flex;
  box-shadow: 0px 0px 11px 0px #0c1214;
}
.dEmbedContainer{
  margin: auto;
  display: flex;
  flex-direction: column;
}
.eP{
  width: 250px;
  text-align: left;
}
.eHeader img{
  height: 33px;
}
.eHeader a{
  color: #fff;
  margin: auto 0;
  margin-left: 4px;
}
.eHeader a:visited{
  color: #fff;
}
th p{
  padding: 0 8px 0 0;
}
.eBold{
  font-weight: bold;
  color: #fff;
  padding: 8px 8px 8px 0;
}
.embedRight img{
  height: 114px;
  padding: 8px;
}
table p{
  display: flex;
  white-space: pre;
  padding-left: 0;
}
table img{
  margin: 0;
}
table td{
  display: flex;
}
td p{
  padding: 0;
}
table:first-of-type{
  margin-bottom: 8px;
}
a img{
  margin: 0;
}
.aBot{
  display: flex;
  margin-top: 24px;
}
.aBot a{
  margin: auto;
}
.aBot>.rButton{
  height: 40px;
  width: 210px;
  padding: 10px 25px;
  font-size: 24px;
  color: #C4D7E6;
}
.lmCont{
  margin: auto;
  margin-top:250px;
  display: flex;
  max-width: 938px;
}
.lmCont>div{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.lmLeft>p{
  padding-left: 0;
}
.lmLeft>h3{
  padding-left: 0;
}

@media screen and (max-width: 570px){
  .container-header{
    margin: 0px 8px;
  }
  table>p{
    font-size:10px;
  }
  tr{
    display: flex;
    flex-direction: column;
  }
  .dEmbed{
    position: relative;
  }
  .embedRight{
    position: absolute;
    right: 0;
  }
  .rButton{
    padding: 4px 8px;
  }
  p>a{
    white-space: pre-wrap;
  }
  .titleContainer{
    margin-top: 0;
  }
  .aBot{
    flex-direction: column;
    margin-top: 4px;
  }
  .aBot>a{
    margin: 8px auto;
  }
}
