:root{
  --main-bdr-color: #44a4dc;
}

.container{
  display: block;
}
.web-title{
  margin-top: 25%;
}
.dEmbedContainer{
  padding: 8px;
  width: 469px;
  border-left: 4px solid var(--main-bdr-color);
  border-radius: 8px;
}
