.setting>div{
  justify-content: center;
  flex-wrap: wrap;
}
.loading{
  height: 32px;
  width: 32px;
  margin: auto 0;
  animation: rotation 2s infinite linear;
}
#loadingContainer{
  transition: .25s ease-in-out;
}
.settingAvi{
  border-radius: 360px;
  border: 2px solid rgb(57, 206, 216);
  box-shadow: 0px 0px 15px rgb(57 206 216 / 50%);
}
.badgeImg{
  height: 32px;
  margin: auto 0;
}
.badgeCont{
  display: flex;
}
#badge{
  margin: auto 0;
  padding-left: 4px;
}
.faded{
  opacity: 0;
  transition: .25s ease-in-out;
}
.divLeft{
  justify-content: flex-start !important;
}
.rFlex{
  display: flex;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
