.setting>div{
  justify-content: center;
}
.loading{
  height: 32px;
  width: 32px;
  margin: auto 0;
  animation: rotation 2s infinite linear;
}

.faded{
  opacity: 0;
  transition: .25s ease-in-out;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
