.setting>div{
  justify-content: center;
  flex-wrap: wrap;
}
.settingAvi{
  border-radius: 360px;
  border: 2px solid rgb(57, 206, 216);
  box-shadow: 0px 0px 15px rgb(57 206 216 / 50%);
}
.badgeImg{
  height: 44px;
  margin: auto 0;
  border-radius: 360px;
}
.badgeCont{
  display: flex;
}
#badge{
  margin: auto 0;
  padding-left: 4px;
}
.divLeft{
  justify-content: flex-start !important;
}
