:root{
  --main-bdr-color: #44a4dc;
}
html {
  scroll-behavior: smooth;
}
.titleContainer{
  margin-top: 100px;
}
.titleContainer p{
  padding: 8px;
  display: flex;
}
.webTitle{
  margin: auto;
}
.webSlogan{
  font-size: 14px;
  font-weight: normal;
  margin: 16px auto 16px auto;
}

.centerCont{
  margin: auto;
  padding: 64px 8px;
  background-color: #253139;
  max-width: 784px;
}

.mkCharts{
  margin: auto;
}

@media screen and (max-width: 570px){
}
@media screen and (max-width: 820px){
}
@media screen and (max-width: 450px){
}
